<div class="container">

  <% if current_user %>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  <% else %>
    <h2>Welcome, you are not signed in. Please sign In</h2>
  <% end %>
</div>
