<div class="container">

  <% if current_user %>
    <ul>
      <a href="/game">Create a Game</a>
        <h3>Join a Game</h3>
        <ul>
      <% @game.each do |game| %>
         <li><a href="/game/<%= game.id %>">Join a game</a></li>
      <% end %>
    </ul>
  <% else %>
    <h2>Welcome to Tic Tac Toe. Please create an account or Sign</h2>
  <% end %>
</div>
