<div class="container">

  <% if current_user %>
    <ul>
      <h3>Create a Game</h3>
      <h3>Join a Game</h3>
  <% else %>
    <h2>Welcome to Tic Tac Toe. Please create an account or Sign</h2>
  <% end %>
</div>
